.ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin: 0px 0 0 0!important;
	padding: .0em .0em .0em .0em!important;
	font-size: 12pt!important;
	line-height: 30px!important;
	font-weight: 600!important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
	border-left: none!important;
	border-top: none!important;
	border-right: none!important;
	border-bottom: 1px solid #ededed!important;
	background: #ffffff!important;
	font-weight: normal;
	color: #2b2b2b;
	outline: none!important;
}
.ui-accordion .ui-accordion-content {
	padding: 0!important;
	border-top: 0;
	overflow: auto;
}
.ui-widget-content {
	border: none!important;
	background: #ffffff;
	color: #333333;
}
.ui-icon {
	content: "/f2cd"!important;
	color: #333333!important;
}

.ui-icon-active {
	content: "/f2cd"!important;
	color: #333333!important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border-left: none!important;
	border-top: none!important;
	border-right: none!important;
	border-bottom: 1px solid #ededed!important;
	background: #ffffff!important;
	font-weight: normal;
	color: #454545;
}/* CSS Document */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	border-left: none!important;
	border-top: none!important;
	border-right: none!important;
	border-bottom: 1px solid #ededed!important;
	background: #ffffff!important;
	font-weight: normal;
	color: #333333!important;
}
